* {
    margin: 0px;
    padding: 0px;
}

p.izq {
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    float: left;
}

p.der {
    float: right;
    font-size: 22px;
    font-weight: bold;
    float: right;
}

p.sobre {
    display: block;
    padding: 8px;
}

p.pie {
    vertical-align: top;
    text-align: center;
    padding: 4px;
}

#foto {
    width: 380px;
}

div.titulo {
    color: white;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    background: linear-gradient(180deg, darkgray, gray, darkgray);
}

#contenedor {
    background-image: linear-gradient(40, 23, 28);
    width: 970px;
}

#header {
    min-height: 50px;
    background-color: #f8f8f8;
}

#principal {
    background: linear-gradient(to right, #1D0D11, #6F5964, #1D0D11);
    width: 970px;
    height: auto;
}

#linea1 {
    border: 5px solid silver;
    margin: 10px 15px 10px 10px;
    display: inline-block;
}

#linea2 {
    border: 1px solid;
    height: 260px;
    width: 500px;
    vertical-align: top;
    background: linear-gradient(to right, white, #6F5964);
    display: inline-block;
    margin: 10px 15px 10px 0;
}

#footer {
    min-height: 60px;
    background-color: #f8f8f8;
}

div.caja {
    display: inline-block;
    background: linear-gradient(to right, white, #6F5964);
    height: 550px;
    width: 290px;
    vertical-align: top;
    margin: 9px;
    border: 1px solid;
}

div.cajatexto {
    height: 155;
    margin: 5px;
}

div.botoncito {
    text-align: center;
    width: 122px;
    background-color: #407d61;
    padding: 5px;
    box-shadow: 3px 3px 6px black;
    border-radius: 4px;
    margin: 5px 0 0 80px;
}

img.fotos {
    width: 290px;
}

img.logo {
    width: 40px;
    margin: 7px;
}

img.icono {
    width: 21px;
    margin: 3px;
}

a.boton {
    color: white;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}

a.links {
    vertical-align: top;
}